.link-viewer-container::-webkit-scrollbar {
  width: 7px;
}

.link-viewer-container::-webkit-scrollbar-track {
  background: transparent;
}

.link-viewer-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.link-viewer-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Remove scrollbar buttons */
.link-viewer-container::-webkit-scrollbar-button {
  display: none;
}

/* Optional: for Firefox */
.link-viewer-container {
  scrollbar-width: 7px;
}

.link-viewer-container {
  overflow-y: scroll;
}
